@model IEnumerable<CLINICA_CRUD.Models.RegistroMedico>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPaciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDiscapacidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAlergia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEnfermedad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTratamiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Citas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAlergiaNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDiscapacidadNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdEnfermedadNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdPacienteNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTratamientoNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDiscapacidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAlergia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEnfermedad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTratamiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Citas.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAlergiaNavigation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDiscapacidadNavigation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEnfermedadNavigation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPacienteNavigation.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTratamientoNavigation.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="color:rgb(255,0,0);">Ingrese Sesión</h1>

}